[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
innodb-use-native-aio=0
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
port=3306
pid-file=/var/run/mysqld/mysqld.pid
user = mysql
server-id = 14860
lower_case_table_names=1
replicate-do-db = jhcisdb
slave_sql_verify_checksum = OFF
slave-skip-errors = 1062
